<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitworkshop.litebookscholar">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主activity -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask" />

        <receiver android:name=".receiver.ConnectivityChangeReceiver" />
        <!-- 登录activity -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:parentActivityName=".ui.activity.SplashActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.SplashActivity" />
        </activity>
        <!-- 搜索activity -->
        <activity
            android:name=".ui.activity.SearchBookActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>
        <!-- 编辑信息activity -->
        <activity android:name=".ui.activity.EditInfoActivity" />
        <!-- 裁剪activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- provider 用于拍照后路径存储 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bitworkshop.litebookscholar.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.bitworkshop.litebookscholar.model.LGlideModule"
            android:value="GlideModule" />
        <!-- 关于activity -->
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:parentActivityName=".ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:parentActivityName=".ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>
        <!--书籍详情-->
        <activity android:name=".ui.activity.BookInfoActivity" />
        <!--扫描-->
        <activity android:name=".ui.activity.ScannerActivity" />
        <!--个人信息-->
        <activity android:name=".ui.activity.UserInfoActivity" />
        <!--更新昵称-->
        <activity android:name=".ui.activity.UpdateNickNameActivity" />
    </application>

</manifest>